venv/
Pyfhel/
.venv/
__pycache__/
*.pyc
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
*.egg-info/

# Data
data/synthetic/*.csv
data/results/*.csv
*.pkl

# Results
results/benchmarks/*.json
results/figures/*.png
results/figures/*.pdf
results/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Server Client Stuff
./server_keys/
./client_Hospital_A_keys/